.text-logo
{
    font-size: 1.2em;
    font-weight: bold;
}

.text-dark
{
    color: $dark;
}

.text-light
{
    color: $light;
}

.text-light2
{
    color: $light2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 12px;
    margin-bottom: 12px;
    overflow-wrap: break-word;
    color: $dark;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
    overflow-wrap: break-word;
    color: $dark;
}

$text-sizes: (
  s: small,
  m: medium,
  l: large,
  xl: x-large,
  xxl: xx-large,
  xxxl: 40px,
);


// Generate color variations
@each $variation, $size in $text-sizes {
    .text-#{$variation} {
      font-size: $size;
    }
  }
